.contact-left img {
  width: 7%;
  border-radius: 10px;
  object-fit: cover;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.contact-title{
    position: relative;
}
.contact-title h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    padding: 0px 30px;
}
.contact-title img{
    position: absolute;
    bottom: 1;
    right: 0;
    width: 80px;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 150px;
    /* align-items: center;
    justify-content: center;
    width: 100%; */
}
.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h2{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    font-size: 20px;
    color: #d8d8d8;
    line-height: 35px;
    max-width: 550px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    width: 100%;
    max-width: 500px;
}

.contact-right label{
    font-size: 22px;
    color: #d8d8d8;
    font-weight: 500;
}

.contact-right input{
    width: 600px;
    height: 70px;
    background: #32323c;
    border: none;
    border-radius: 4px;
    padding-left: 20px;
    font-size: 20px;
    color: #a0a0a0;
    font-family: outfit;
}
.contact-right textarea{
    width: 600px;
    height: 150px;
    background: #32323c;
    border: none;
    border-radius: 4px;
    padding: 25px;
    font-size: 20px;
    color: #a0a0a0;
    font-family: outfit;
}
.contact-submit{
    /* width: 200px; */
    /* height: 60px; */
    background: linear-gradient(264deg, #df8908 0%, #b415ff 100%);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    /* font-weight: 600; */
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.05);
}

@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: center;
    }
    .contact-title h1{
        font-size: 50px;
        padding: 0;
        margin-top: -10px;
        margin-bottom: -1px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h2{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-submit{
        font-size: 18px;
        padding: 15px 40px;
    }

}