.services-title{
    position: relative;
}
.services-title img{
    width: 900px;
    height: 470px;
    border-radius: 20px;
    object-fit: cover;
    /* z-index: -1; */
}
.services-title h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.services-readmore img{
    width: 30px;
    height: 20px;
}

.services{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;

}

.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px ;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;

}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.services-format h3{
    font-size: 28px;
    font-weight: 600;
}
.services-format h2{
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(267deg,#DA7C25 0.36%,#a57cce 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.services-format p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.services-readmore{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.services-format:hover{
    box-shadow: 2px 2px 20px rgba(218,124,37,0.4);
    transform: translateY(-10px);
    background-image: linear-gradient(250deg, #1e1e1e, #2a2a2a);
    transition: 0.4s;
}

@media(max-width:600px){
    .services{
        align-items: center;
        gap: 70px;
        margin: 20px 70px;

    }
    .services-title h1{
        font-size: 50px;
        padding: 0;
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .services-format{
        gap: 20px;
        padding: 32px;
        

    }
    .services-format h2{
        font-size: 22px;
        margin-top: auto;

    }
    .services-format p{
        
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
        
    }
    .services-container{
        display: flex;
        flex-direction: column; 
        align-items: center;   
        justify-content: center;
        min-height: 100vh;
  
        
    }
}