.about{
    /* padding: 4rem 6rem; */
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: 80px 170px;
}
.about-title h1{
    font-size: 48px;
    font-weight: 600;
    text-align: center;
}


.about-sections{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}
.about-left img{
    width: 500px;
    height: 550px;
    border-radius: 20px;
    object-fit: cover;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
}
.about-right h1{
    font-size: 48px;
    font-weight: 600;
}
.about-right h1 div{
    font-size: 48px;
    font-weight: 600;
     background: linear-gradient(267deg,#DA7C25 0.36%,#a57cce 100%);
     background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.about-right p{
    font-size: 20px;
    line-height: 32px;
}
.about-right ul{
    list-style: disc;
    margin-left: 20px;
    font-size: 20px;
    line-height: 32px;
}
.about-right li{
    margin-bottom: 10px;
}

.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.about-skills :hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p {
    font-size: 22px;
    font-weight: 500;
    min-width: 150px;
    
}

.about-skill hr{
    width: 50%;
    height: 8px;
    background: linear-gradient(264deg,#DF8908 -5.09%,#a57cce 100%);
    border-radius: 50px;
    outline: none;
    border: none;
}

.about-skill :hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.about-para{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about-achievement{
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 80px;
}
.about-achieve{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achieve:hover{
    transform: scale(1.1);
}
.about-achieve h2{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(270deg,#DF8908 50.41%, #b415ff 90.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #DA7C25; */
}
.about-achieve p{
    font-size: 22px;
    font-weight: 500;

}

@media(max-width:600px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: center;
        
        

    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
        margin-bottom: -10px;
        margin-top: -10px;
    }
    .about-sections{
        flex-direction: column;
    
    }
    .about-left{
        display: none;
    }
    .about-para p{
        display: flex;
        font-size: 18px;
        line-height: 32px;
        margin-left: -150px;
        margin-right: -150px;
        
    }
    .about-skill{
        gap: 20px;
        align-items: center;
        margin-left: -130px;
        margin-right: -130px;
    }
    .about-skill p{
        font-size: 20px;
    }

    .about-achieve h2,p{
        font-size: 25px;
    }
}

